<input type="file" id="fileinput" />
<script type="text/javascript">
  function readSingleFile(evt) {
    //Retrieve the first (and only!) File from the FileList object

    var f = new File(["tt"], "mytext.txt", { type: "text/plain", });
    var r = new FileReader();
    r.onload = function (e) {
      var contents = e.target.result;
      alert("Got the file.n"
        + "name: " + f.name + "n"
        + "type: " + f.type + "n"
        + "size: " + f.size + " bytesn"
        + "starts with: " + contents.substr(1, contents.indexOf("n"))
      );
    }

      r.readAsText(f);
    
  }

  document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
</script>
URL path = Foo.class.getResource("myFile.txt");
File f = new File(path.getFile());
reader = new BufferedReader(new FileReader(f));